In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('realtor-data.zip.csv')
df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
1401061,for_sale,NaN,NaN,155.00,Perrysburg,New York,14129.0,NaN,NaN,325000.0
1401062,for_sale,4.0,2.0,0.36,Silver Creek,New York,14136.0,2026.0,2000-09-01,187900.0
1401063,for_sale,10.0,4.0,0.43,Brocton,New York,14716.0,4802.0,1994-12-01,120000.0
1401064,for_sale,2.0,2.0,0.14,Dunkirk,New York,14048.0,1568.0,2003-04-15,92000.0
1401065,for_sale,5.0,2.0,0.14,Angola,New York,14006.0,1908.0,2016-01-12,99900.0

In [10]:
new_df = df[['acre_lot', 'bed', 'bath', 'city', 'state']]
new_df

         acre_lot   bed  bath          city        state
0            0.12   3.0   2.0      Adjuntas  Puerto Rico
1            0.08   4.0   2.0      Adjuntas  Puerto Rico
2            0.15   2.0   1.0    Juana Diaz  Puerto Rico
3            0.10   4.0   2.0         Ponce  Puerto Rico
4            0.05   6.0   2.0      Mayaguez  Puerto Rico
...           ...   ...   ...           ...          ...
1401061    155.00   NaN   NaN    Perrysburg     New York
1401062      0.36   4.0   2.0  Silver Creek     New York
1401063      0.43  10.0   4.0       Brocton     New York
1401064      0.14   2.0   2.0       Dunkirk     New York
1401065      0.14   5.0   2.0        Angola     New York

[1401066 rows x 5 columns]

In [11]:
new_df.dropna()

         acre_lot   bed  bath          city        state
0            0.12   3.0   2.0      Adjuntas  Puerto Rico
1            0.08   4.0   2.0      Adjuntas  Puerto Rico
2            0.15   2.0   1.0    Juana Diaz  Puerto Rico
3            0.10   4.0   2.0         Ponce  Puerto Rico
4            0.05   6.0   2.0      Mayaguez  Puerto Rico
...           ...   ...   ...           ...          ...
1401060      0.10   3.0   1.0       Dunkirk     New York
1401062      0.36   4.0   2.0  Silver Creek     New York
1401063      0.43  10.0   4.0       Brocton     New York
1401064      0.14   2.0   2.0       Dunkirk     New York
1401065      0.14   5.0   2.0        Angola     New York

[850864 rows x 5 columns]